@keyframes pastelPink {
    0%   { border-color: rgb(255, 182, 193); }  
    25%  { border-color: rgb(255, 204, 221); }  
    50%  { border-color: rgb(255, 170, 200); }  
    75%  { border-color: rgb(230, 170, 220); }  
    100% { border-color: rgb(255, 182, 193); }  
    }