$color1: rgba(252, 203, 45, 0.671);
$color2: rgb(150, 138, 138);
$color3: rgb(255, 101, 101);
$color4: rgb(185, 255, 226);
$color5: rgb(253, 209, 255);
$color6: rgb(191, 253, 255);
$color7: rgb(177, 177, 176) ;
$color8: rgb(117, 117, 117);
$color9: rgb(0, 0, 0);
// animacja 
$clolor_animation_1:rgb(55, 99, 156);
$clolor_animation_2:rgb(250, 208, 137);
// erfeuhfue
$font1: 1em;
$font2: 1.2em;
$font3: 1.4em;
$font4: 1.6em;
$font5: 2em;
$font6: 2.2em;
