@use "../abstract/abstract";
@use "../components/footer--components/footer";
@use "../components/headar--components/header";
@use "../components/galery--components/section--1";
@use "../components/galery--components/section--2";
// -------------------------------------------------------
