/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  --s: 80px;
  --_g: #0000, var(--c1) 2deg calc(var(--a) - 2deg), #0000 var(--a);
  background: conic-gradient(from calc(-45deg - var(--a) / 2) at top var(--p) left var(--p), var(--_g)), conic-gradient(from calc(-45deg - var(--a) / 2) at top var(--p) left var(--p), var(--_g)), conic-gradient(from calc(45deg - var(--a) / 2) at top var(--p) right var(--p), var(--_g)), conic-gradient(from calc(45deg - var(--a) / 2) at top var(--p) right var(--p), var(--_g)), conic-gradient(from calc(-135deg - var(--a) / 2) at bottom var(--p) left var(--p), var(--_g)), conic-gradient(from calc(-135deg - var(--a) / 2) at bottom var(--p) left var(--p), var(--_g)), conic-gradient(from calc(135deg - var(--a) / 2) at bottom var(--p) right var(--p), var(--_g)), conic-gradient(from calc(135deg - var(--a) / 2) at bottom var(--p) right var(--p), var(--_g)) var(--c2);
  background-size: calc(2 * var(--s)) calc(2 * var(--s));
  animation: m 2s infinite alternate linear;
}

@keyframes m {
  0%, 15% {
    --a: 135deg;
    --p: 20%;
    --c1: #3b8183;
    --c2: #fad089;
    background-position: 0 0, var(--s) var(--s);
  }
  45%, 50% {
    --a: 90deg;
    --p: 25%;
    --c1: #3b8183;
    --c2: #fad089;
    background-position: 0 0, var(--s) var(--s);
  }
  50.01%, 55% {
    --a: 90deg;
    --p: 25%;
    --c2: #3b8183;
    --c1: #fad089;
    background-position: var(--s) 0, 0 var(--s);
  }
  85%, 100% {
    --a: 135deg;
    --p: 20%;
    --c2: #3b8183;
    --c1: #fad089;
    background-position: var(--s) 0, 0 var(--s);
  }
}
* {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
}

@keyframes pastelPink {
  0% {
    border-color: rgb(255, 182, 193);
  }
  25% {
    border-color: rgb(255, 204, 221);
  }
  50% {
    border-color: rgb(255, 170, 200);
  }
  75% {
    border-color: rgb(230, 170, 220);
  }
  100% {
    border-color: rgb(255, 182, 193);
  }
}
.rooot_footer1 {
  height: 13.5vh;
  justify-content: center;
  background: rgba(248, 239, 239, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 2px solid rgb(0, 0, 0);
  margin: 50px;
}
.rooot_footer1 img {
  width: 94.95vh;
  height: 19.5vh;
}

@property --a {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}
.root_footer2 {
  height: 31.5vh;
  justify-content: center;
  background: rgba(248, 239, 239, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 2px solid rgb(0, 0, 0);
  margin: 50px;
}
.root_footer2 img {
  width: 92.95vh;
  height: 19.5vh;
  display: block;
  margin: 0 auto;
}

header {
  width: 100vw;
  height: 11vh;
  background: rgba(248, 239, 239, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 5px solid rgb(0, 0, 0);
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  gap: 50px;
}
header ul li {
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 29px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
header ul li:hover {
  color: rgb(255, 101, 101);
  transform: scale(1.4);
  transition: 0.9s;
}

@property --a {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}
@property --p {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}
@property --c1 {
  syntax: "<color>";
  inherits: true;
  initial-value: #000;
}
@property --c2 {
  syntax: "<color>";
  inherits: true;
  initial-value: #000;
}/*# sourceMappingURL=root.css.map */