@use "../../abstract/abstract" as *;

.galery-component-section-1 {
  @include flex-center;

  div {
    width: 300px;
    height: auto;
    margin: 10px;
    color: $color3;
    
    img {
      width: 100%;
      max-height: 300px;
      border: 5px solid $color7;
    }
  }
}
