@use "../../abstract/abstract" as *;

.rooot_footer1{


justify-content: center;
background: rgba(248, 239, 239, 0.33);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(6.3px);
-webkit-backdrop-filter: blur(6.3px);  
border: 2px solid $color9;
margin: 50px;
img{
    width: 94.95vh;
    height: 19.5vh;
    @mixin flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    }
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
}

@property --a{
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}
.root_footer2{


justify-content: center;
background: rgba(248, 239, 239, 0.33);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(6.3px);
-webkit-backdrop-filter: blur(6.3px);  
border: 2px solid $color9;
margin: 50px;
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
img{
    width: 92.95vh;
    height: 19.5vh;
    display: block;
    margin: 0 auto;
    @mixin flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    }

}
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
justify-content: center;
background: rgba(248, 239, 239, 0.33);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(6.3px);
-webkit-backdrop-filter: blur(6.3px);  
border: 2px solid $color9;
margin: 50px;
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
img{
    width: 93.95%;
    height: 89.5%;
    display: block;
    margin: 0 auto;
    @mixin flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    }
}

.div1 { grid-area: 1 / 1 / 4 / 3; }
.div2 { grid-area: 1 / 3 / 4 / 6; }
.div3 { grid-area: 4 / 3 / 6 / 6; }
.div4 { grid-area: 4 / 1 / 6 / 3; }