@use "../../abstract/abstract" as *;

.galery-component-section-2 {
  @include flex-center;
  &__right {
    border: 3px solid $color7;
    width: 550px;
    background: rgba(255, 255, 255, 0.33);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
  }
  &__left {
    animation: rainbow 9s infinite linear;
    width: 550px;
    background-color: $color8;
    border: 5px solid;
    border-radius: 10px;
    animation: pastelPink 3s infinite linear;
    @keyframes pastelPink {
      0%   { border-color: rgb(255, 182, 193); }  
      25%  { border-color: rgb(255, 204, 221); }  
      50%  { border-color: rgb(255, 170, 200); }  
      75%  { border-color: rgb(230, 170, 220); }  
      100% { border-color: rgb(255, 182, 193); }  
    }
  }
}
