@use "../../abstract/abstract" as *;

.galery-component-section-1 {
  @include flex-center;

  div {
    width: 300px;
    height: auto;
    margin: 10px;
    color: $color3;
    img {
      width: 100%;
      max-height: 300px;
      border: 8px solid ;
      border-radius: 10px;
    animation: pastelPink 3s infinite linear;
    @keyframes pastelPink {
      0%   { border-color: rgb(255, 182, 193); }  
      25%  { border-color: rgb(255, 204, 221); } 
      50%  { border-color: rgb(255, 170, 200); } 
      75%  { border-color: rgb(230, 170, 220); }  
      100% { border-color: rgb(255, 182, 193); }  
    }
        }
      }
}
