@use "../../abstract" as *;
@use "../../abstract/animations" as *;

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button {
    width: 30vw;
    height: 15vh;
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.33);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 8px solid ;
    border-radius: 10px;
    animation: pastelPink 3s infinite linear;
    @keyframes pastelPink {
    0%   { border-color: rgb(255, 182, 193); }  
    25%  { border-color: rgb(255, 204, 221); } 
    50%  { border-color: rgb(255, 170, 200); } 
    75%  { border-color: rgb(230, 170, 220); }  
    100% { border-color: rgb(255, 182, 193); }  
    }
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 30px;
}

.xxx {
    background-color: $color5;
    height: 35%;
    width: 35%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.xxx p {
    font-size: 30px;
}

h1{
    text-align: center;
    font-size: medium;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
